@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk";
}

body {
  background-color: black;
}

nav {
  display: flex;
  background-color: #c04000;
  width: 100%;
  height: 50px;
  /* padding: 15px 25px; */
  /* justify-content: space-between; */
  align-items: center;

}

nav .links {
  margin-left: 15px;
  color: beige;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
}


nav a:hover {
  opacity: 0.3;
}



@media screen and (max-width: 450px) {
 

  nav .links {
    /* display: none; */
    padding-top: 10px;

  }

  nav {
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
  }

  
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.counter-container {
  border: 1px solid white;
  width: 100%;
  max-width: 400px;
  background-color: black;
  border-radius: 16px;
  box-shadow: 5px 5px grey;
}

.count {
  text-align: center;
  justify-content: center;
  padding: 100px;
  color: beige;
  font-size: 30px;
}

.operators {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.operators-two {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

button {
  display: inline-block;
  padding: 12px 12px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #c04000;
  color: beige;
}

button:hover {
  opacity: 0.7;
}

.operators button {
  flex: 1 1 33.33%;
}

.operators-two button {
  flex: 1 1 33.33%;
}

.set-count {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: beige;
  font-size: 16px;
}

.set-count input {
  border: 1px solid beige;
  color: beige;
  appearance: none;
  padding: 12px;
  background: black;
  width: 50px;
  border-radius: 20px;
}

.set-count input:hover {
  opacity: 0.9;
}

.set-count button {
  margin-left: 3px;
  border-radius: 20px;
}

.page-not-found {
  color: beige;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
}

.error-boundary {
  color: beige;
  text-align: center;
  justify-content: center;
  padding-top: 100px;
}